.container {
	align-items: end;
	row-gap: calc(2px * var(--scale));
	display: grid;
	font-size: 8px;
	grid-template-areas:
		'label value'
		'meter meter';
	grid-template-columns: 1fr auto;
	grid-template-rows: repeat(2, auto);

	.label {
		grid-area: label;
	}

	.value {
		align-items: flex-end;
		display: flex;
		grid-area: value;

		.current {
			font-size: 12px;
		}

		.max {
			&:before {
				content: '/';
			}
		}
	}

	.meter {
		-webkit-appearance: none;
		appearance: none;
		background-color: transparent;
		background-image: none;
		border: none;
		border-radius: 0;
		box-shadow: none;
		grid-area: meter;
		height: calc(2px * var(--scale));
		width: 100%;

		&::-webkit-meter-bar {
			background: none;
			background-color: white;
		}

		&::-webkit-meter-inner-element {
			display: block;
		}

		&::-webkit-meter-optimum-value {
			background: none;
			background-color: #c86969;
		}
	}
}
