@font-face {
	font-family: 'Micro Chat';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/typefaces/micro-chat.woff2') format('woff2');
}

@font-face {
	font-family: 'Space Contract';
	font-style: normal;
	font-weight: bold;
	src: url('/assets/typefaces/space-contract.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiny Talk';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/typefaces/tiny-talk.woff2') format('woff2');
}

@font-face {
	font-family: 'Tiny Talk';
	font-style: normal;
	font-weight: bold;
	src: url('/assets/typefaces/tiny-talk.bold.woff2') format('woff2');
}
