:root {
	--ds--global--font-size--small: 8px;
	--ds--global--font-size--medium: 12px;
	--ds--global--font-size--large: 16px;
	--ds--global--font-size--extra-large: 20px;
	--ds--global--ui-scale: 4;
}
