.container {
	display: grid;
	grid-template-areas:
		'main-player-details . .'
		'. . .'
		'party-details . .';
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	padding: calc(2px * var(--scale));
}
