:root {
	--ds--c--loading-icon--bounce-duration: 0.8;
}

@keyframes bounce {
	from {
		transform: translateY(0);
	}

	25% {
		transform: translateY(calc(-2px * var(--ds--global--ui-scale)));
	}

	75% {
		transform: translateY(0);
	}
}

.container {
	display: flex;
	gap: calc(2px * var(--ds--global--ui-scale));

	.dot {
		animation-duration: calc(var(--ds--c--loading-icon--bounce-duration) * 1s);
		animation-iteration-count: infinite;
		animation-name: bounce;
		animation-timing-function: cubic-bezier(0.03, 0.87, 0.61, 0.99);

		&:nth-of-type(2) {
			animation-delay: calc((var(--ds--c--loading-icon--bounce-duration) / 3) * 1s);
		}

		&:nth-of-type(3) {
			animation-delay: calc(((var(--ds--c--loading-icon--bounce-duration) / 3) * 2) * 1s);
		}
	}
}
