:root {
	--ds-c--slider--border-size-x: 3;
	--ds-c--slider--border-size-y: 2;
	--ds-c--slider--border-width-x: calc(var(--ds-c--slider--border-size-x) * var(--ds--global--ui-scale) * 1px);
	--ds-c--slider--border-width-y: calc(var(--ds-c--slider--border-size-y) * var(--ds--global--ui-scale) * 1px);
}

.content-wrapper {
	display: flex;
	font-size: var(--ds--global--font-size--medium);
	justify-content: flex-end;
	margin: 0;
}

.label-wrapper {
	display: flex;
	align-items: center;
	font-size: var(--ds--global--font-size--medium);
}
