:root {
	--ds-c--slider--border-size-x: 3;
	--ds-c--slider--border-size-y: 2;
	--ds-c--slider--border-width-x: calc(var(--ds-c--slider--border-size-x) * var(--ds--global--ui-scale) * 1px);
	--ds-c--slider--border-width-y: calc(var(--ds-c--slider--border-size-y) * var(--ds--global--ui-scale) * 1px);
}

.container {
	align-items: center;
	display: flex;
	filter: brightness(1);
	font-family: 'Micro Chat';
	font-size: var(--ds--global--font-size--medium);
	gap: calc(4px * var(--ds--global--ui-scale));
	height: calc(5px * var(--ds--global--ui-scale));
	margin: calc(4px * var(--ds--global--ui-scale)) 0;
	min-width: calc(9px * var(--ds--global--ui-scale));
	transition-duration: 0.2s;
	transition-property: filter;
	width: 100%;

	.input {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		width: 100%;

		&::-webkit-slider-runnable-track {
			border-image-slice:
				var(--ds-c--slider--border-size-y)
				var(--ds-c--slider--border-size-x)
				fill;
			border-image-source: url('/assets/ui/slider.background.png');
			border-image-repeat: repeat;
			border-image-width:
				var(--ds-c--slider--border-width-y)
				var(--ds-c--slider--border-width-x);
			height: calc(5px * var(--ds--global--ui-scale));
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			background-image: url('/assets/ui/slider.thumb.png');
			background-size: cover;
			cursor: pointer;
			height: calc(9px * var(--ds--global--ui-scale));
			margin-top: calc(-2px * var(--ds--global--ui-scale));
			width: calc(5px * var(--ds--global--ui-scale));
		}
	}

	.value {
		text-align: right;
		width: 3ch;

		.padding {
			opacity: 0.25;
		}
	}

	&.is-disabled {
		filter: brightness(0.8);
	}
}
