.container {
	align-items: center;
	display: flex;
	inset: 0;
	justify-content: center;
	position: absolute;

	.indicator {
		--indicator-line-gap: calc(3px * var(--ds--global--ui-scale));

		position: relative;

		&:after,
		&:before {
			background-color: black;
			content: '';
			display: block;
			height: calc(1px * var(--ds--global--ui-scale));
			position: absolute;
			top: 50%;
			width: calc(20px * var(--ds--global--ui-scale));
		}

		&:after {
			left: 100%;
			margin-left: var(--indicator-line-gap);
		}

		&:before {
			margin-right: var(--indicator-line-gap);
			right: 100%;
		}
	}
}
